:root {
  /* Theme 3 */

  --main-bg: hsl(268, 75%, 9%); /* main background */
  --toggle-keypad-bg: hsl(
    268,
    71%,
    12%
  ); /* toggle background, keypad background */
  --screen-bg: hsl(268, 71%, 12%); /* screen background */

  /* Keys */

  --key-delete-equals-bg: hsl(281, 89%, 26%); /* key background */
  --key-delete-equals-shadow: hsl(285, 91%, 52%); /* key shadow */

  --key-toggle-reset-bg: hsl(176, 100%, 44%); /* key background, toggle */
  --key-toggle-reset-shadow: hsl(177, 92%, 70%); /* key shadow */

  --key-bg: hsl(268, 47%, 21%); /* key background */
  --key-shadow: hsl(290, 70%, 36%); /* key shadow */

  /* Text */

  --text-primary: hsl(52, 100%, 62%);
  --white: hsl(0, 0%, 100%);
}
